@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --spacing: 4px;
  --color-background: #232222;
  --color-font: #fff;
  --color-button: #4745bd;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: var(--color-background);
  color: var(--color-font);
}
